@import '../../../styles/_variables';

.about-me {
  background: $primary-bg-color;
  clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 100%);
  color: $primary-text-color;

  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3rem;

    .photo {
      margin: 0 3rem 3rem 3rem;
      flex-grow: 1;
      text-align: center;

      img {
        width: 200px;
        height: 200px;
        border: 0;
        border-radius: 50%;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      flex-grow: 3;
      margin: 0 2rem;

      h3 {
        text-align: left;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.5;
        margin: 0 0 2rem;
      }
    }
  }
}

@media only screen and (max-width: $medium-device) {
  .about-me {
    .content {
      flex-direction: column;
    }
  }
}
