@import '../../../styles/_variables';

.education {
  color: $primary-text-color;
  background: $primary-bg-color;
}

@media only screen and (max-width: $medium-device) {
  .education {
    div[class*='module--timeline-description'] {
      text-align: center;

      span {
        text-align: center;
      }
    }
  }
}
