.interest-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  width: 120px;

  svg {
    color: var(--first-color);
    font-size: 3rem;
  }

  .name {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.pulse :global {
  animation: pulse;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
