@import './_variables';

@mixin button-style {
  background: none;
  border: 4px double;
  color: $primary-color;
  padding: 18px 35px;
  text-decoration: none;
  letter-spacing: 2px;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 40px;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  font: italic bold 1em Roboto Mono, serif;

  &:hover {
    background: $primary-darker-color;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  span {
    color: $secondary-text-color;
  }
}

@mixin title-border-style {
  content: '';
  display: block;
  margin: 0 auto;
  width: 4rem;
  padding-top: 0.5rem;
  border-bottom: 2px solid $primary-color;
}

@mixin diamond-style($color: $primary-text-color, $bg: #fff) {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-top: 1rem;
  text-align: center;
  color: $color;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    border: 4px double;
    box-sizing: border-box;
    transition: 0.3s;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $bg;
  }

  svg {
    z-index: 5;
    font-size: 1rem;
    position: relative;
  }
}
