@import './_variables';

@mixin button-style {
  background: none;
  border: 4px double;
  color: var(--first-color);
  padding: 18px 35px;
  text-decoration: none;
  letter-spacing: 2px;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 40px;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  font: italic bold 1em Roboto Mono, serif;

  &:hover {
    background: var(--first-color-darker);
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  span {
    color: white;
  }
}

@mixin icon-button-style {
  align-self: flex-start;
  margin-left: 1rem;
  cursor: pointer;
  color: var(--first-color);
}

@mixin title-border-style {
  content: '';
  display: block;
  margin: 0 auto;
  padding-top: 0.5rem;
  border-bottom: 2px solid var(--first-color);
}

@mixin diamond-style($color: var(--first-text-color), $bg: var(--reverse-text-color)) {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-top: 1rem;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    border: 4px double $color;
    box-sizing: border-box;
    transition: 0.3s;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $bg;
  }

  svg {
    color: $color;
    z-index: 5;
    font-size: 1rem;
    position: relative;
  }
}
