@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,700,700i&display=swap');

@font-face {
  font-family: 'loveloline_bold';
  src: url('./fonts/Lovelo-LineBold.woff');
}

:root {
  --first-font: 'Josefin Sans', sans-serif;
  --second-font: loveloline_bold;
  --backend-color: #340fb8;
  --frontend-color: #169e61;
  --devops-color: #9b7b13;
  --cms-color: #a23ea5;
  --db-color: #b95d11;
  --nav-bg-color: #1b1f2b;

  .theme-1 {
    --first-color: #fb544d;
    --first-color-darker: #fa241b;
    --first-text-color: #000;
    --second-text-color: #000;
    --reverse-text-color: #fff;
    --first-bg-color: #e8e8e8;
    --second-bg-color: #fafafa;
    --nav-text-color: #fff;
    --card-bg-color: #fafafa;
    color: var(--first-text-color);
    background-color: var(--first-bg-color);
  }
  .theme-2 {
    --first-color: #488cff;
    --first-color-darker: #2629c5;
    --first-text-color: #000;
    --second-text-color: #fff;
    --reverse-text-color: #fff;
    --first-bg-color: #fafafa;
    --second-bg-color: #030207;
    --nav-bg-color: #fafafa;
    --nav-text-color: #000;
    --card-bg-color: #f3ebeb;
    color: var(--first-text-color);
    background-color: var(--first-bg-color);
  }
  .theme-3 {
    --first-color: #00ba8c;
    --first-color-darker: #00a77e;
    --first-text-color: #fff;
    --second-text-color: #000;
    --reverse-text-color: #000;
    --first-bg-color: #030102;
    --second-bg-color: #fffdf4;
    --nav-bg-color: #fafafa;
    --nav-text-color: #000;
    --card-bg-color: #1b0812;
    --backend-color: #488cff;
    --devops-color: #f9ff21;
    color: var(--first-text-color);
    background-color: var(--first-bg-color);
  }
  .theme-4 {
    --first-color: #dc0073;
    --first-color-darker: rgb(168, 8, 91);
    --first-text-color: #000;
    --second-text-color: #000;
    --reverse-text-color: #fff;
    --first-bg-color: #e7f6fc;
    --second-bg-color: #fafafa;
    --nav-bg-color: #000;
    --nav-text-color: #fff;
    --card-bg-color: #fafafa;
    --devops-color: #d16004;
    color: var(--first-text-color);
    background-color: var(--first-bg-color);
  }
}
