$primary-font: 'Josefin Sans', sans-serif;

$primary-text-color: #000;
$secondary-text-color: #fff;

$primary-color: #fb544d;
$primary-darker-color: #fa241b;

$primary-bg-color: #e3ebee;
$secondary-bg-color: #1b1f2b;
