$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: Nothing You Could Do, cursive;

$primary-text-color: #000;
$secondary-text-color: #fff;

$primary-color: #fb544d;
$primary-darker-color: #fa241b;

$primary-bg-color: #e3ebee;
$secondary-bg-color: #1b1f2b;

$small-device: 400px;
$medium-device: 768px;
$large-device: 992px;
