@import './_variables';

.button-style {
  background: none;
  border: 4px double;
  color: $primary-color;
  padding: 18px 35px;
  text-decoration: none;
  letter-spacing: 2px;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 40px;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  font: italic bold 1em Roboto Mono, serif;

  &:hover {
    background: $primary-darker-color;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  span {
    color: $secondary-text-color;
  }
}
