@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,700,700i&display=swap');
@import './_variables';
@import './common';
@import 'animate';

@font-face {
  font-family: 'loveloline_bold';
  src: url('./fonts/Lovelo-LineBold.woff');
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

h1 {
  font: 4rem loveloline_bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font: 4rem/1.2 loveloline_bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  margin: 0 0 2rem;
}

h4 {
  margin: 0;
}

@media only screen and (max-width: $large-device) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: $medium-device) {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 3rem;
  }
}
