@import './_variables';
@import './_themes';
@import './_common';
@import 'animate';

* {
  font-family: var(--first-font);
}

body {
  margin: 0;
  background-color: var(--nav-bg-color);
}

html {
  font-size: 16px;
}

h1,
h2,
.main {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 0;
}
h1 {
  font: 4rem var(--second-font);
}

h2 {
  font: 4rem/1.2 var(--second-font);
}

@media only screen and (max-width: $large-device) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: $medium-device) {
  html {
    font-size: 14px;
  }

  h1,
  h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: $small-device) {
  html {
    font-size: 12px;
  }
}

main section {
  color: var(--first-text-color);
  background-color: var(--first-bg-color);
}

main section:nth-child(2n) {
  color: var(--second-text-color);
  background-color: var(--second-bg-color);
}

main section div[class*='arrow'] {
  border-top: solid 30px var(--first-bg-color);
}

main section:nth-child(2n) div[class*='arrow'] {
  border-top: solid 30px var(--second-bg-color);
}

// Global style needed cause the css classes are used in Contenful content
.separator {
  @include title-border-style;
  margin: 2rem auto;
  width: 3rem;
  border-bottom: 2px dashed var(--first-text-color);
}

.techno {
  color: var(--first-color);
  font-style: italic;
  font-weight: 800;
}

// Dynamic creation of styles related to skills categories
$categories: 'frontend', 'backend', 'devops', 'cms', 'db';

@each $category in $categories {
  .#{$category} {
    color: var(--#{$category}-color);
  }
  .item-#{$category} {
    background: var(--card-bg-color)
      linear-gradient(135deg, var(--#{$category}-color) 15px, rgba(0, 0, 0, 0.01) 0);
  }
}

// Hide the ugly Goolge captcha
.grecaptcha-badge {
  visibility: hidden;
}
