@import '../../../styles/_common';

.skill-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 0 0;
  width: 100%;

  .group-name {
    padding: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;

    &::after {
      @include title-border-style;
      border-bottom: 2px solid currentColor;
    }

    svg {
      padding-right: 0.5rem;
    }
  }

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
  }
}
