.skill-chart :global {
  .link {
    line {
      stroke: #696969;
    }

    line.separator {
      stroke: #fff;
      stroke-width: 2px;
    }
  }

  .node {
    circle {
      fill: var(--card-bg-color);
      stroke-width: 1px;
    }

    .avatar {
      border-radius: 50%;
    }

    text {
      text-transform: uppercase;
      font-size: 0.9rem;
    }

    .frontend {
      stroke: var(--frontend-color);
    }

    .backend {
      stroke: var(--backend-color);
    }

    .devops {
      stroke: var(--devops-color);
    }
  }

  .tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }
}
