@import '../../../styles/_variables';

.skill-group {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  align-items: center;
  margin: 2rem 0 0 0;
  width: 100%;
  background: #d2dde0;
  border-radius: 10px;
  border: 1px solid $primary-text-color;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  .group-name {
    padding: 0.5rem;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.2rem;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
  }
}
