@import '../../../styles/_variables';

.skill {
  background: $secondary-bg-color;
  color: $secondary-text-color;

  .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 4rem;
  }
}
