@import '../../../styles/_variables';

.skill-item {
  padding: 5px;
  width: 80px;
  height: 80px;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--card-bg-color);
  box-shadow: 1px 1px 15px 4px rgba(67, 38, 100, 0.15);
  border-bottom-right-radius: 15px;
  margin: 1.1em 0.7em;
  color: white;

  img {
    width: 32px;
    height: 32px;
  }

  span {
    margin: 0.5rem 0;
    font-size: 0.8rem;
  }

  .star {
    font-size: 0.5rem;
    color: var(--third-color);
  }
}
