@import '../../../styles/_variables';

.skill-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
  }

  span {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
}
