@import '../../../styles/_variables';

.skill-item {
  margin: 5px;

  img {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: $large-device) {
  .skill-item {
    img {
      width: 60px;
      height: 60px;
    }
  }
}
