@import '../../../styles/_common';

.skill-group {
  display: grid;
  grid-template-columns: 100px 14px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 25px;
  max-width: $max-container-width;
  width: 100%;
  margin: 2.5rem 0;

  .group-name {
    padding: 0.5rem;
    text-align: right;
    margin-top: auto;

    &::first-letter {
      text-transform: uppercase;
    }   
  }

  .group-separator {
    background-color: currentColor;
  }

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    width: 100%;
  }
}
