.skill-chart :global {
  margin-top: 2rem;
  svg {
    display: flex;
    margin: auto;
    overflow-x: scroll;
  }
  .link {
    line {
      stroke: currentColor;
      opacity: 0.8;
      stroke-width: 3px;
    }
  }

  .node {
    circle {
      fill: currentColor;
      stroke: var(--first-text-color);
      stroke-width: 2px;
    }

    text {
      text-transform: uppercase;
      font-size: 0.7rem;
      fill: var(--reverse-text-color);
    }
  }

  .tooltip {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background: var(--second-bg-color);
    color: var(--second-text-color);
    border-radius: 8px;
    pointer-events: none;
  }
}
