@import '../../styles/_variables';

.navigation-button {
  position: absolute;
  top: 30px;
  left: -90px;
  overflow: hidden;
  transition: 0.3s;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  line-height: 56px;
  text-align: center;
  color: $primary-color;
  cursor: pointer;

  .line {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    margin: 0 0 0 -11px;
    background: currentColor;
    border-radius: 3px;
    transition: 0.3s;
    animation-name: nav-trigger;
    animation-iteration-count: infinite;
    animation-duration: 10s;

    &:nth-child(1) {
      width: 22px;
      margin-top: -7px;
      animation-delay: 5s;
    }

    &:nth-child(2) {
      width: 18px;
      margin-top: -1px;
      animation-delay: 5.1s;
    }

    &:nth-child(3) {
      width: 14px;
      margin-top: 5px;
      animation-delay: 5.2s;
    }
  }
}

.navigation-button.visible {
  left: -320px;
  top: 30px;

  .line {
    width: 22px;
    margin-top: 0;
    animation: none;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
    }

    &:nth-child(3) {
      display: none;
    }
  }
}

@media only screen and (max-width: $medium-device) {
  .navigation-button.visible {
    left: -305px;
  }
}

@-webkit-keyframes nav-trigger {
  46%,
  53% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  47% {
    opacity: 1;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  48% {
    opacity: 1;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  49% {
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  51% {
    opacity: 1;
  }
  52% {
    opacity: 1;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }
}

@keyframes nav-trigger {
  46%,
  53% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  47% {
    opacity: 1;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  48% {
    opacity: 1;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  49% {
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  51% {
    opacity: 1;
  }
  52% {
    opacity: 1;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }
}
