@import '../../../styles/_variables';

.navigation {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;

  nav {
    position: absolute;
    background-color: $secondary-bg-color;
    color: $secondary-text-color;
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 230px;
    height: 100%;
    transition: 0.3s;
    transform: translate(110%, 0);

    ul {
      transition-delay: 0.3s;
      margin: 0;
      padding: 80px 0 0;
      list-style: none;
      font-weight: bold;
      font-style: italic;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: 0.6s;
    }
  }

  .visible {
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
    transition-delay: 0.2s;
    transform: translate(0, 0);
  }
}
