@import '../../../styles/_variables';

.navigation {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;

  nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $nav-bg-color;
    color: $secondary-text-color;
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 230px;
    height: 100%;
    transition: 0.3s;
    transform: translate(110%, 0);

    .logo {
      width: 100px;
      margin: 0.5rem auto;
    }

    .header {
      padding: 0.5rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    ul {
      transition: 0.6s;
      transform: translate(110%, 0);
      margin: 0;
      padding: 2rem 0 0;
      list-style: none;
      font-weight: bold;
      font-style: italic;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  nav.visible {
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
    transition-delay: 0.2s;
    transform: translate(0, 0);

    ul {
      transition-delay: 0.3s;
      transform: translate(0, 0);
    }
  }
}
