@import '../../../styles/_variables';
@import '../../../styles/_common';

.diamond-icon {
  @include diamond-style(currentColor, $primary-color);

  .title {
    position: relative;
    display: block;
    font-size: 0.8rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
