@import '../../styles/_variables';

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $secondary-text-color;

  .background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(14, 33, 44, 0.7);
      z-index: 5;
    }

    img {
      background-size: cover;
      height: 100vh;
      max-height: 100vh;
      width: 100%;
    }
  }

  svg :global {
    color: $primary-color;
    margin: 0 0 10px;
    animation-duration: 1s;
    animation-name: fadeInDown;
  }

  .zoomIn :global {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 1s;
    animation-name: zoomIn;
  }

  .name {
    margin: 0 0 25px;
    letter-spacing: 2px;
    text-transform: none;
    font: 2.5rem Nothing You Could Do, cursive;
  }

  .fadeInUp :global {
    display: flex;
    animation-duration: 1s;
    animation-name: fadeInUp;
  }

  .sub-data {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0 0 30px 0;

    li {
      padding: 0 15px;
      position: relative;
      font-size: 18px;
      text-shadow: 1px 1px 4px;

      &:after {
        content: '';
        width: 6px;
        height: 6px;
        display: inline-block;
        background: $secondary-text-color;
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: -3px;
        border-radius: 50%;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}

@media all and (max-width: 800px) and (min-width: 0px) {
  .intro .background img {
    width: auto;
  }
}
