.contact-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 800px;

  label {
    font-style: italic;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 3rem;
  }

  .form-item {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: -12px;
      bottom: -4px;
      width: 12px;
      height: 12px;
      margin: -6px 0 0;
      background: currentColor;
      border-radius: 50%;
      transition: 0.3s;
    }

    &:after {
      background: none;
      box-shadow: 0 0 0 5px;
      opacity: 0.3;
    }
  }

  .textarea {
    &:before,
    &:after {
      bottom: 0px;
    }
  }

  input,
  textarea {
    font-size: 1rem;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 4px double currentColor;
    box-sizing: border-box;
    border-radius: 0;
    color: currentColor;
    transition: 0.3s;
    outline: none;
  }

  textarea {
    height: 94px;
    resize: none;
  }

  .button-container {
    text-align: center;
    margin-top: 3rem;
  }
}
