@import '../../styles/_variables';

.experiences {
  color: $primary-text-color;
  background: white;

  .items {
    margin-top: 5rem;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 40px;
      bottom: 0;
      width: 2px;
      border: 1px solid;
      border-bottom: none;
      transform: translateX(-50%);
    }
  }
}
