@import '../../../styles/_variables';

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $secondary-text-color;
  z-index: 8;

  .animate-icon :global {
    animation-duration: 1s;
    animation-name: fadeInDown;
  }

  svg {
    color: $primary-color;
    margin: 0 0 10px;
  }

  .zoom-in :global {
    animation-duration: 1s;
    animation-name: zoomIn;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .name {
    margin: 0 0 25px;
    letter-spacing: 2px;
    text-transform: none;
    font: 2.5rem $secondary-font;
  }

  h1 {
    text-align: center;
  }

  .fade-in-up :global {
    display: flex;
    margin-top: 3rem;
    animation-duration: 1s;
    animation-name: fadeInUp;
  }

  .sub-title {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0 0 30px 0;

    li {
      padding: 0 15px;
      position: relative;
      font-size: 18px;
      text-shadow: 1px 1px 4px;

      &:after {
        content: '';
        width: 6px;
        height: 6px;
        display: inline-block;
        background: $secondary-text-color;
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: -3px;
        border-radius: 50%;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}

.background {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 33, 44, 0.7);
    z-index: 2;
  }
}
