.locale-picker {
  position: fixed;
  top: 50px;
  left: 40px;
  z-index: 15;
  cursor: pointer;

  .flag {
    width: 16px;
    height: 16px;
    transition: 0.2s;

    &:hover {
      width: 18px;
      height: 18px;
    }
  }
}
