.locale-picker {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 15;

  .flag {
    opacity: 0.4;
    transition: 0.3s;
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .selected {
    opacity: 1;
  }
}
