.locale-picker {
  padding: 1rem;
  text-align: right;

  .flag {
    opacity: 0.4;
    transition: 0.3s;
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .selected {
    opacity: 1;
  }
}
