@import '../../../styles/_variables';

.timeline-description {
  padding: 28px 0 20px 60px;
  text-align: left;

  .date {
    font-weight: bold;
    margin: 0 0 1rem;
  }

  h4 {
    margin-bottom: 15px;
  }

  ul {
    padding: 0;
    li {
      font-style: normal;
      line-height: 1.5;
      margin-bottom: 1rem;
      list-style: none;
      padding-left: 1.5rem;
      &:before {
        content: '';
        background: $primary-color
          url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTkuMyAxNi43bC0zLjEtNC4zQTEgMSAwIDAgMSA3LjggMTFsMy43IDMuOWMuNi42LjYgMS42IDAgMi4xLS43LjUtMS43LjQtMi4yLS4zeiIgZmlsbD0iI0ZGRkZGRiIvPgogIDxwYXRoIGQ9Ik05LjYgMTdjLS43LS42LS43LTEuNS0uMi0yLjJsNy4zLThhMSAxIDAgMCAxIDEuNiAxLjNsLTYuNiA4LjZjLS41LjctMS41LjgtMi4xLjN6IiBmaWxsPSIjRkZGRkZGIi8+CiAgPHBhdGggZD0iTTkuNyAxM2MuNC41LjcuOCAxLjEuMy41LS41LS4xIDEuMy0uMSAxLjNsLTEuNS0uNS41LTF6IiBmaWxsPSIjRkZGRkZGIi8+Cjwvc3ZnPg==)
          center center;
        background-size: 1rem 1rem;
        height: 1.1rem;
        border-radius: 50%;
        position: absolute;
        width: 1.1rem;
      }
    }
  }
}

.timeline-description.odd {
  padding-left: 0;
  padding-right: 60px;

  .date,
  h4 {
    text-align: right;
  }
}

.timeline-description.even ul li {
  &:before {
    left: calc(50% + 60px);
  }
}
.timeline-description.odd ul li {
  &:before {
    left: 0;
  }
}
@media only screen and (max-width: $medium-device) {
  .timeline-description {
    padding: 0;
  }

  .timeline-description.odd {
    padding-right: 0;
    .date,
    h4 {
      text-align: left;
    }
  }

  .timeline-description.even ul li {
    &:before {
      left: 0;
    }
  }
}
