@import '../../../styles/_variables';

.timeline-icon {
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  left: 50%;
  top: 0;
  margin: 0 0 0 -35px;
  color: black;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    border: 4px double;
    box-sizing: border-box;
    transition: 0.3s;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #fff;
  }

  svg {
    z-index: 5;
    font-size: 1rem;
    position: relative;
  }
}

.bounce-in :global {
  visibility: visible;
  animation-name: bounceIn;
  animation-duration: 0.5s;
}

.timeline-icon.active:before {
  background: $primary-color;
}
