.timeline-image {
  flex-grow: 1;
  flex-basis: 0;
  align-self: center;
  text-align: center;
  width: 100%;

  img {
    width: 80%;
    height: auto;
    border: solid 1px #ccc;
    box-shadow: 1px 1px 5px #999;
    margin: 1rem;
  }
}
