@import '../../../styles/_variables';
@import '../../../styles/_common';

.timeline-icon {
  @include diamond-style(currentColor, $secondary-text-color);
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -35px;
}

.bounce-in :global {
  visibility: visible;
  animation-name: bounceIn;
  animation-duration: 0.5s;
}

.timeline-icon.active:before {
  background: $primary-color;
}

@media only screen and (max-width: $medium-device) {
  .timeline-icon {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto 30px;
  }
}
