@import '../../../styles/_variables';
@import '../../../styles/_common';

.timeline {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 40px;
    bottom: 0;
    width: 2px;
    border: 1px solid;
    border-bottom: none;
    transform: translateX(-50%);
  }

  .sort-icon {
    @include icon-button-style;
  }
}

@media only screen and (max-width: $medium-device) {
  .timeline {
    &:before {
      display: none;
    }
  }
}
